<Layouts.app
  flash={@flash}
  current_user={assigns[:current_user]}
  admin?={assigns[:admin?] || false}
  current_path={~p"/"}
>
  <.header>
    Browse
    <:subtitle>Find something worth buying, or list something worth selling.</:subtitle>
  </.header>
</Layouts.app>
